.jl__cart{
    position: relative;

    .menuToggle{
        float: right;
        margin-right: 50px;
        margin-left: auto;
    }

    i{
        font-size: 30px;
        color: $color05;
    }
}